@model IEnumerable<EuropePeaceConvention.Models.CountriesModels>

@{
    ViewBag.Title = "Index";
}

<h2>Countries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISO3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Population)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area) (1 000 km²)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISO3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Population)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
